body{
    margin: 0;
    font-family: sans-serif;
    direction: rtl;
    background-color: #1e272e;
}
.sidebar {
    position: fixed;    /* The sidebar stays fixed in one position on the page */
    top: 0;           /* Sidebar starts from the top of the page */
    right: 0;          /* Sidebar is attached to the right side of the page */
    width: 250px;     /* Sets the width of the sidebar */
    height: 100vh;    /* Sidebar height is 100% of the viewport */
    background-color: #2f3640;
    padding-top: 30px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}
.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar li{
    margin: 20px 0;
    text-align: center;
}
.sidebar a{
    text-decoration: none;
    color: #dcdde1;
    display: block;
    padding: 12px 0;
    transition: all 0.3s ease;
    border-radius: 5px;
}
.sidebar a:hover{
    background-color: #9c88ff;
    color: #fff;
    transform: translate(5px);
}
